<div class="container mt-1 p-5">
  <table class="table table-light table-striped table-bordered table-hover" style="overflow-x:auto;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Body</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td> <%=article.id%></td>
        <td> <%=article.title%></td>
        <td> <%=article.author%></td>
        <td> <%=article.body%></td>
        <td> <%= link_to "View", article_show_path(article), class:"btn btn-primary btn-sm"%> </td>
        <td> <%= link_to "Edit", article_edit_path(article), class:"btn btn-secondary btn-sm"%> </td> 
        <td> <%= link_to "Delete", article_delete_path(article), class:"btn btn-danger btn-sm", :method => :Delete, data: {confirm: "Are you sure you want to delete this?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <%= link_to "Back", articles_new_path, class:"btn btn-secondary"%>
</div>